<table>
  <%= for message <- @messages do %>
    <tr>
      <td><%= message.topic %></td>
      <td><%= message.message %></td>
      <td><%= message.received_by_pid %></td>
      <td><%= message.received_by_node %></td>
      <td><%= message.handled_by_pid %></td>
      <td><%= message.handled_by_node %></td>
    </tr>
  <% end %>
</table>
